

body {
  margin: 0;
  padding: 0;
  font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 16px;
    line-height: 1.42857143;
    color: #4a4a4a;
    background-color: #fff;
}



ul > li {
  padding: 3px 0;
}

.pull-right {
  float: right;
}

.fs12 {
  font-size: 12px;
  font-weight: normal;
}

/*
input[type=text] {
  width: 200px;
  padding: 5px;
}
*/
/*
input[type=submit] {
  width: 100px;
}
*/
textarea {
  padding: 5px;
  width: 350px;
  height: 80px;
}


.hidden {
  display: none;
}

.flash_message {
  text-align: center;
  font-weight:bold;
}

.error {
  font-size: 12px;
  color: tomato;
  padding: 3px 0;
  display: block;
}

.font08{
	font-size:0.8em;
}
.font09{
	font-size:0.9em;
}
.font10{
	font-size:1em;
}
.font11{
	font-size:1.1em;
}
.font12{
	font-size:1.2em;
}
.font16{
	font-size:1.65em;
}
.font20{
	font-size:2em;
}


/* LOADER **********************************/
#wrap{
	display:none;
}
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 100000;
  background-color:#ffffff;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  z-index: 20;
}

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ff8c7c;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
/* FADEIN EFFECT **********************************/



/************************************************************************************/

/* common parts */

/************************************************************************************/

div.sepa{
	border-top:1px solid #ddd;
	clear:both;
	margin:15px 0;
}

.subpage h1{
	color:#2C5871;
	font-size:28px;
}
h2{
	color:#2C5871;
}
.block h2{
	margin-bottom:50px;
}
h3 a{
	color:#2C5871;
}
h3 a:hover{
	text-decoration:underline;
}
ul li{
	list-style-type:none;
}
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover{
    background-color: #fff;
    border-color: #ddd;
	color:#555;
	font-weight:bold;
}
.list-group-item{
	padding: 7px 10px;
}
a.list-group-item{
	color:#FB7968;
	color:#f38273;
}
a{
	color:#FB7968;
	color:#f38273;
}
a.alink{
	display: block;
}
a:hover{
	text-decoration:none;
}

.font08{
	font-size:0.8em;
}
.font09{
	font-size:0.9em;
}

.btn{
	border-radius:0 !important;
}

.btn-primary{
	background-color:#2C5871;
	border-color:#154E6F;
}
.btn-primary2{
	background-color:#fff;
	border:2px solid #2C5871;
	color:#2C5871;
}
.btn-primary2:hover{
	background-color:#f5f5f5;
}
.bg-gray{
	background-color:#f5f5f5;

}
.btn-warning{
	background-color: #FFB742;
    border-color: #f3bb6d;
}
.btn-info{
	background-color:#FB7968;
	background-color:#f38273;
	border-color:#F26565;
	border-color:#f38273;
}
.btn-info:focus{
	background-color:#FB7968 !important;
	background-color:#f38273 !important;
	border-color:#F26565 !important;
}
.btn-info:hover{
	background-color:#F26565 !important;
	border-color:#F26565 !important;
}
.btn-complete{
	color:#999 !important;
}
.btn-group-center{
	width:2% !important;
}
.btn-group-center button{
    letter-spacing: 0.25em;
    font-weight: bold;
}
.btn-big{
	padding:20px;
	font-size:20px;
}
.label{
	font-weight:normal;
}
.label-info{
	background-color:#FB7968;
	background-color:#f38273;
}
.label-primary{
    background-color: #2C5871;
    border-color: #154E6F;
}
.label-gray{
	background-color:#ccc;
}
.progress{
	margin-bottom:10px;
}
.progress-bar{
	background-color:#FB7968;
	background-color:#f38273;
}
.progress-bar-normal{
	background-color:#2C5871;
}

.accent{
	color:#FB7968;
	color:#f38273;
}
.accent2{
	color:#ff8c7c;
}


.gray{
	color:#999;
}
.current{
	color:#2C5871;
}

.badge{
    font-size: 0.75em;
    font-weight: normal;
    padding: 0.2em 0.5em 0.3em 0.5em;
    color: #FB7968;
	color:#f38273;
    background-color: #fff;
    border: 1px solid #FB7968;
}
.lessonicon{
    width: 250px;
    padding: 30px;
    background-color: #FB7968;
	background-color:#f38273;
    border-radius: 50%;
}
.lessonicon1{/*ポジショニングのアイコン*/
	background-color: #F9C593;
}
.lessonicon4{/*ミラーテクニックのアイコン*/
	background-color: #FFAB8F;
}
.lessonicon2,.lessonicon10,.lessonicon11,.lessonicon28,.lessonicon29{/*基本検査のアイコン*/
	background-color: #89B2A2;
}
.lessonicon3,.lessonicon12{/*スケーリングのアイコン*/
	background-color: #D49C94;
}
.lessonicon14,.lessonicon7,.lessonicon5{/*PMTCのアイコン*/
	background-color: #78B4C3;
}
.lessonicon15{/*デンタルエステのアイコン*/
	background-color: #fdb09e;
}
.lessonicon16{/*コミュニケーション*/
	background-color: #b3daa9;
}
.lessonicon17{/*フロッシング*/
	background-color: #ffcf59;
}
.lessonicon18,.lessonicon19{/*シャープニング*/
	background-color: #d494a0;
}
.lessonicon20,.lessonicon32,.lessonicon33,.lessonicon34{/*口腔内写真*/
	background-color: #bec7f7;
}
.lessonicon21{/*メンテナンスの流れ*/
	background-color: #89baef;
}

.lessonicon23{/*苦手をなくそうSRP基礎編*/
	background-color: #58679e;
}
.lessonicon24{/*口腔内写真12*/
	background-color: #bec7f7;
}
.lessonicon25{/*苦手をなくそうSRP実践編*/
	background-color: #58679e;
}
.lessonicon26,.lessonicon31{/*印象採得、歯科技工*/
	background-color: #bedaa9;
}
.lessonicon27{/*サスブラシ*/
	background-color: #8d73a9;
}


.subpage .lessonicon{
    width: 100px;
    padding: 10px;
}
.mypage .lessonicon{
    width: 60px !important;
    padding: 5px !important;
}
#sidebar .lessonicon{
    width: 55px;
    padding: 5px;
	border-radius:0;
}
#sidebar .lessonicon:hover{
    background-color: #2C5871;
}
#sidebar a img{
    border: 1px solid #f5f5f5;
    box-shadow: 1px 1px 1px #ccc;
    border-radius: 4px;
}
#sidebar a img:hover{
	background-color:#f5f5f5;
}
.subpage .lessoniconh1{
	width: 30px !important;
    height: 30px !important;
    padding: 1px !important;
    border-radius: 0;
}

a:hover .lessonicon{
    background-color: #2C5871;
}
.img-responsive-overwrite{
    margin: 0 auto;
}

img.imgstyle01{
    border-radius: 5px;
    border: 1px solid #eee;
}
.breadcrumb{
	font-size:0.8em;
}


.iconbig{
	font-size:80px !important;
	color:#FB7968;
	color:#f38273;
}
form#statusbt input[type=submit]{


}

.lessonstudied{
	color:#999;
}

img.pull-left{
	margin:0 15px 15px 0;
}
img.pull-right{
	margin:0 0 15px 15px;
}

.sepalator{
	border-bottom:1px solid #eee;
	height:15px;
	margin-bottom:15px;
	clear:both;
}
.padding0{
	padding:0;
}
.margin0{
	margin:0;
}

p.thumb{
	float:left;
	margin:0 7px 0px 0;
}
.mobileonly{
	display:none;
}
.mobileonly2{
	display:none;
}
.pconly{
	display:block;
}
.pconly2{
	display:block;
}
.pconly3{
	display:block;
}
@media screen and (max-width: 991px) {

.pconly2{
	display:none !important;
}
.mobileonly2{
	display:block;
}

.lessonicon{
	width:200px;
}

#sidebar .lessonicon{
	width:35px;
	padding:2px;
}

}
@media screen and (max-width: 767px) {
.mobileonly{
	display:block;
}
.pconly{
	display:none !important;
}
.toplessonbox .lessonicon{
    width: 70px;
    padding: 5px;
    border-radius: 0;
	float:left;
	margin-right:20px;
}

.toplessonbox{
	clear:both;
	text-align:left;
	padding:10px 20px;
	margin-bottom: 0px !important;
}

.alert>p, .alert>ul{
	padding-left:20px;
}

#postinfo li{
	float: left;
    width: 50%;
}
#postinfo a{
	padding:10px 5px;
}
}

@media screen and (max-width: 480px) {
	.subpage h1{
		font-size:20px;
	}
	.breadcrumb{
		font-size:0.6em;
	}

	.block h2{
		font-size:20px;
	}
	.mypage .lessonicon{
		width: 40px !important;
		padding: 3px !important;
	}

}

@media screen and (max-width: 320px) {
.pconly3{
	display:none;
}
}
/************************************************************************************/

/* common layout */

/************************************************************************************/

.subpage{
	padding:100px 30px 30px 30px;
}
.subpage-h1{
	text-align:center;
	padding:30px 0;
}
.block{
	padding:100px 0;
}
.block2{
	padding:50px 0;
}
.block3{
	padding:20px 0;
}
.content{
	padding:30px 20px;
}
.content2{
	padding:30px 0;
}
.box{
	height:350px;
}


.clearfix{
	clear:both;
}

div.space10{
	clear:both;
	height:10px;
}
div.space20{
	clear:both;
	height:20px;
}
div.space30{
	clear:both;
	height:30px;
}
div.space50{
	clear:both;
	height:50px;
}
.bordertop{
	border-top:10px solid #FB7968;
	border-top:10px solid #f38273;
}

.borderbottom{
	border-bottom:10px solid #FB7968;
	border-bottom:10px solid #f38273;
}

.flash_message{
	position:absolute;
	top:100px;
	left:0;
	width: 100%;
	z-index:10;
	border-radius:0;
}

.panel{
	border:1px solid #f5f5f5;
	box-shadow: 1px 1px 1px #ccc;
}
.panel-heading{
	border:none;
}
.panel-hosoku{
	box-shadow:none;
	border:1px solid #ddd;
}
.panel-hosoku .panel-heading{
	border-bottom:1px solid #ddd;
	padding:5px 10px;
}
.panel-hosoku .panel-body{
	padding:10px;
}

@media screen and (max-width: 1200px) {
.subpage{
	padding:100px 0 0 0;
}
}

@media screen and (max-width: 767px) {
.subpage{
	padding:100px 15px 0 15px;
}

.content{
	padding:30px 0;
}

#sidebar .panel-default .panel-heading{
	background-color:#ff8c7c;
	color:#fff;
}
}


@media screen and (max-width: 480px) {
.subpage{
	padding:70px 15px 0 15px;
}

.block{
	padding:50px 0;
}

.panel{
	border:none;
	border-bottom:1px solid #ddd;
	box-shadow:none;
}
.panel-hosoku{
	border:1px solid #ddd;
}
.panel-heading{
    padding: 5px;
}
.panel-body{
	padding:10px 0;
}


}


/************************************************************************************/

/* header */

/************************************************************************************/
.navbar{
    border-bottom: 1px solid #eee;
    margin: 0;
	background-color:#fff;
	z-index:10000;
}
.navbar-brand{
	padding:12px 15px;
}
.navbar-nav>li>a{
    color: #4a4a4a;
}

.navbar li.active a{
    color: #FB7968;
	color: #f38273;
}

.navbar .dropdown-menu>li>a{
	text-align: center;
}

.navbar-toggle{
	border-color: #ddd;
}
.navbar-toggle .icon-bar{
	background-color:#888;
}

li a.navbar-btn{
	color:#fff !important;
	padding: 10px;
    margin: 5px;
}
@media screen and (max-width: 991px) {
	.navbar-nav>li{
		font-size:0.9em;
	}
	.navbar-nav>li>a{
		padding-right:10px;
		padding-left:10px;
	}

}

/************************************************************************************/

/* footer */

/************************************************************************************/
#footer-top{
	border-top:1px solid #eee;
	padding:5px 0;
	margin-top:100px;
}
#footer-top .breadcrumb{
    padding: 5px 0 0 0;
    background-color: transparent;
    margin: 0;
}

#footer{
	padding:50px 0 10px 0;
    background-color: #FB7968;
	background-color: #f38273;
	color:#fff;
}

#footer a{
	color:#fff;
}
#footer a:hover{
	text-decoration:underline;
	color:#fff;
}

.footerlink{
	background-color:#fff;
	border-radius:5px;
}
.footerlink:hover{
	background-color:#f5f5f5;
}
.footer-bottom{
	padding:20px 0 0 0;
	margin:50px 0 0 0;
	border-top:1px dotted #fff;
}

/*  backtotop */
#backtotop {
	position: fixed;
	z-index: 1500;
	margin:0;
	right:2%;
	width:70px;
	height:90px;
	background-image:url(/image/top.png);
}
#backtotop:hover {
	background-position:-70px 0;
	cursor:pointer;
}


.fb_iframe_widget,
.fb_iframe_widget span,
.fb_iframe_widget iframe[style]{
width: 100% !important;
}
#pageplugin{
	max-width:500px;
	margin:0 auto;
}

@media screen and (max-width: 767px) {
#snsbox-footer{
	float:left !important;
	clear:both;
	margin-top:20px;
}
}
/************************************************************************************/

/* sidebar */

/************************************************************************************/
#sidebar ul{
	padding:0;
}
#sidebar ul li{
	overflow:hidden;
	margin-bottom:5px;
}
table.lessonlist td{
	padding:5px;
}
#otherlesson h3{
	margin:0 0 5px 0;
	font-size:0.8em;
}
#otherlesson h3 a{
	color:#FB7968;
	color:#f38273;
}
#otherlesson p{
	font-size:0.8em;
}
#otherlesson li:hover{
	background-color:#fafafa;
}

p.lessondescription{
	margin:0;
}
p.lessondescription a{
	color:#4a4a4a;
}
.studyprogress > div{
	padding:0 5px;
	text-align:center;
}
@media screen and (max-width: 1200px) {
#otherlesson h3{
	margin:0 0 3px 0;
}
#otherlesson p{
	font-size:0.7em;
}
#otherlesson ul li{
	height:70px;
}

}
@media screen and (max-width: 991px) {
	#otherlesson ul li {
		height: auto;
		border-bottom: 1px dotted #ddd;
		padding: 5px 0;
		overflow: hidden;
	}
	#otherlesson h3 a{
		color:#2C5871;
	}
	.studyprogress > div{
		padding:0 15px;
		text-align:left;
	}
}
@media screen and (max-width: 767px) {
	.studyprogress > div{
		clear:both;
	}
	.studyprogress strong{
		float:right;
	}
	.badge{
		position: absolute;
		font-size: 0.66em;
		top: -5px;
		left: 8px;
		border: 1px solid #eee;
	}
}
/************************************************************************************/

/* top main */

/************************************************************************************/
#mainvisual{
    background-image: url(/image/bg05.png);
	background-repeat:no-repeat;
	background-size:100%;
	padding-top:50px;
}

#playcm{
    position: absolute;
    top: 100px;
    right: 100px;
    width: 120px;
	transition: 0.5s;
}
#playcm:hover{
	opacity: 0.8;
}
#playcm {
	animation: fluffy1 3s ease infinite;

	/*
	-webkit-animation-name:playcm;
	-webkit-animation-duration:1s;
	-webkit-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;


	-moz-animation-name:playcm;
	-moz-animation-duration:1s;
	-moz-animation-iteration-count:infinite;
	-moz-animation-timing-function:linear;
	*/
}


@keyframes fluffy1 {
  0% { transform:translateY(0) }
  5% { transform:translateY(0) }
  10% { transform:translateY(0) }
  20% { transform:translateY(-15px) }
  25% { transform:translateY(0) }
  30% { transform:translateY(-15px) }
  50% { transform:translateY(0) }
  100% { transform:translateY(0) }
}







@media screen and (max-width: 1500px) {
	#mainvisual{
		background-image: url(/image/bg06.png);
	}
}
@media screen and (max-width: 1200px) {
	#mainvisual{
		background-image: url(/image/bg07.png);
	}
	#playcm{
	    top: 105px;
		right: 20px;
	}
}
@media screen and (max-width: 850px) {
	#mainvisual{
		background-image: url(/image/bg08.png);
	}
	#playcm{
		width: 90px;
	}
}
@media screen and (max-width: 650px) {
	#mainvisual{
		background-image: url(/image/bg09.png);
	}
}
@media screen and (max-width: 540px) {
	#mainvisual{
		background-image: url(/image/bg10.png);
	}
	#playcm{
	    top: 65px;
		right: 10px;
		width: 85px;
	}
}
.topmain{
	padding:20px 0 70px 0;
}
#mainlogo{
	width:155px;
}

.topmain h1{
	margin:0;
}
.topmain p{
    margin: 20px 10px;
    font-size: 0.9em;
	color: #666;
}

.toplessonbox{
	margin-bottom:30px;
	height:320px;
}

.toplessonbox h3{
	font-size:20px;
}

#newsarea{
    margin-bottom: 50px;
    background: #fff;
    border: 2px dotted #ccc;
    padding: 15px;
}


@media screen and (max-width: 991px) {
	.toplessonbox{
		height:290px;
	}
}
@media screen and (max-width: 767px) {
	.toplessonbox{
		height: auto;
		padding: 1px 10px;
		border-bottom: 1px dotted #eee;
		overflow: hidden;
	}
	.toplessonbox:hover{
		background-color:#f5f5f5;
	}
	.toplessonbox h3{
		margin:5px;
	}

	.topmain p{
		margin: 0;
		padding: 7px;
	}

	.device{
		text-align:center;
	}
	.device h2{
		font-size:28px;
	}
	.topmobile .col-xs-6{
		padding:0 5px;
	}
}
@media screen and (max-width: 480px) {
	.toplessonbox h3{
		font-size:1.1em;
	}
}
/************************************************************************************/

/* Lesson */

/************************************************************************************/

.lessonbox{
	height:225px;
	position:relative;
}
.lessonbox .progress{
	height:10px;
	margin-bottom:5px;
}
.lessonbox:hover{
	background-color:#f5f5f5;
}
/*
.lessonheader{
	position:relative;
	float:left;
	width:100%;
}
*/
.lessonbox .lessonicon{
	border-radius:0;
}
.lessonheader > a{
	margin:0 20px 20px 0;
}
.lessonheader h3{
	font-size:1.4em;
	margin:0 0 10px 0;
}
.lessonheader a,.lessonbody a{
	color:#4a4a4a;
}
.lessonbody{
	font-size:0.7em;
	line-height:1.5;
	margin:10px 0;
}
.lessonbox .btn{
	position:absolute;
	bottom:15px;
	right:15px;
}


td.lessontitle{
	padding: 0 !important;
}
td.lessontitle a{
	padding: 8px;
	min-height: 100px;
}
td.lessontitle a:hover{
	background-color:#f5f5f5;
}
td.lessontitle .media-body{
	color:#4a4a4a
}
td.comingsoon{
	padding: 8px !important;
	min-height: 100px;
}


.lessonshow h1{
    background: #ff8c7c;
    color: #fff;
    padding: 1px 10px 5px 10px;
}
.lessonshow h1 small{
	color:#fff;
	font-size:50%;
}
#snsbox-article{
}
#snsbox-article .btn{
	padding:0;
}


#videowrapper {
    position: relative;
    width: 100%;
}
#videowrapper:before {
    content:"";
    display: block;
    padding-top: 56.25%;
}
.videowrappersquare{
	overflow: hidden;
}
/*
.videowrappersquare:before {
    padding-top: 60% !important;
}
*/
#videocontent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.rockvideo{
    text-align: center;
}
/*
#videocontentinner{
	position:relative;
}
*/
#videoinfo{
	position: absolute;
    top: 0;
    margin: auto;
    bottom: 0;
    left: 0;
    right: 0;
    width: 350px;
    height: 100px;
}

#videoinfo .btn-lg{
	border:5px solid #fff;
	box-shadow: 0px 0px 10px #666;
}
#videoinfo .btn-xs{
	box-shadow: 0px 0px 5px #666;
}


.lessonshow .well{
	padding:5px;
}
.lessonshow .btn-group .btn-default{
	color: #FB7968;
	color: #f38273;
}

.postimage{
    width: 50px;
    border: 1px solid #f5f5f5;
}


.nav-tabs.nav-justified>li>a{
	background-color: #f5f5f5;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover{
	background-color: #ffffff;
}

@media screen and (max-width: 1200px) {
	.lessonbox{
		height:215px;
	}
	.lessonbox p{
		font-size:0.9em;
	}
	.subpage .lessonicon{
		width:100%;
	}
}
@media screen and (max-width: 991px) {
	.lessonbox{
		height:160px;
	}
	.lessonbox h3{
		font-size:1.1em;
		margin: 5px 0 10px 0;
	}


	.lessonheader > a{
		margin:0 10px 0 0;
	}
	.lessonheader p{
		font-size:0.8em;
	}

	.lessonshow h1{
		font-size:1.4em;
	}
	.lessonshow .btn-group .btn{
		font-size:0.7em;
	}

}



@media screen and (max-width: 767px) {


	.lessonbox{
		height:300px;
		border:none;
		box-shadow:none;
		padding: 10px 0;
		margin: 0;
	}
	.lessonbox:hover{
		background-color:transparent;
	}

	.lessonbox h3{
		margin: 5px 0;
	}

	.lessonbox .panel-body{
		padding:0;
	}
	.lessonbox h3{
		font-size:1.1em;
	}
	.lessonbox p{
		font-size:0.9em;
	}

	/*
	.lessonpage .col-xs-4{
		padding-right: 7.5px;
		padding-left: 7.5px;
	}
	*/
}


@media screen and (max-width: 480px) {
	#videoinfo{
		width:90%;
	}
	#videoinfo .btn-lg{
		font-size:0.9em;
		padding:5px 8px;
	}
	#videoinfo .btn-xs{
		font-size:0.8em;
		padding:5px 8px;
	}

	.lessonbox{
		height:200px;
	}
	.lessonbox h3{
		font-size:0.9em;
	}
	.lessonbox p{
		font-size:0.8em;
	}
	.lessonheader p{
		font-size:0.7em;
	}

	#snsbox-article{
		position:static;
		float:left;
	}

	.lessonshow h1{
		font-size:1.1em;
	}
	table.lessontable td{
		font-size:0.8em;
	}
	.postimage{
		width: 35px;
		margin: 0 5px 40px 0 !important;
	}
}
@media screen and (max-width: 360px) {
	#videoinfo{
		width:90%;
	}
	#videoinfo .btn-lg{
		font-size:0.9em;
		padding:5px 8px;
	}
	#videoinfo .btn-xs{
		font-size:0.7em;
		padding:5px;
	}
}
@media screen and (max-width: 320px) {
	.lessonshow .btn-group .btn{
		height:55px;
	}
}

/************************************************************************************/

/* About */

/************************************************************************************/

#concept{
    background-image: url(/image/aboutbg01.png);
	background-size:100%;
	background-repeat:repeat-y;
}
@media screen and (max-width: 1200px) {
#concept{
    background-image: url(/image/aboutbg02.png);
}
}
@media screen and (max-width: 991px) {
#concept{
    background-image: url(/image/aboutbg03.png);
}
}
@media screen and (max-width: 767px) {
#concept{
    background-image: url(/image/aboutbg04.png);
}
.aboutcontent > div{
	text-align:left;
}
.aboutcontent .iconbig{
    float: left;
    font-size: 24px !important;
    width: 40px;
    text-align: center;
}
}
@media screen and (max-width: 480px) {
#concept{
}
}

/************************************************************************************/

/* Guide */

/************************************************************************************/

.guide .panel{
    height:200px;
}
@media screen and (max-width: 1200px) {
.guide h2{
	font-size:24px;
}
}
@media screen and (max-width: 991px) {
.guide h2{
	font-size:20px;
}
}
@media screen and (max-width: 767px) {
.guide .panel{
	height:120px;
}
.guide h2{
    margin: 0 0 10px 0;
}
.guide .panel p{
	font-size:0.9em;
}

}
@media screen and (max-width: 767px) {
.guide h2{
    margin: 0 0 10px 0;
	font-size:16px;
}
.guide .panel p{
	font-size:0.8em;
}

}
/************************************************************************************/

/* Chart */

/************************************************************************************/


.chart {
    position: relative;
}
.chart .count {
    position: absolute;
    border-radius: 50%;
    top: 73px;
    left: 16px;
    height: 152px;
    width: 152px;
	text-align:center;
}

.chart em {
    font-family: Arial;
    font-weight: bold;
    width: 100%;
    text-align: center;
}
.chart em {
    display: block;
    font-size: 36px;
    font-style: normal;
    color: #ff8c7c;
    line-height: 1;
}
.chart em span.caption{
	font-size:30px;
}

.chartinfo{
	padding:17px 0;
	float:right;
	width:45%;
}
.chartinfo table{
	width:100%;
}



img.avater{
	border-radius:50%;
	width:30px;
    border: 1px solid #eee;
    padding: 1px;
}
img.avater2{
	border-radius:50%;
	width:60px;
    border: 1px solid #eee;
    padding: 3px;
}
nav img.avater{
    float: left;
    margin: 11px 0;
}

#collapseChart{
	display:none;
}
@media screen and (max-width: 1200px) {
.chartinfo{
    padding: 17px 10px 0;
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px dotted #ddd;
	margin-top:15px;
}
.videowrappersquare:before {
    padding-top: 100% !important;
}
}


@media screen and (max-width: 767px) {
#chart,#chart2{
	width:100px !important;
	height:100px !important;
}
.chart em{
	font-size:25px;
}
.chart em span.caption{
	font-size:20px;
}
.chart .count{
    left: 14px;
    top: 54px;
    width: 100px;
    height: 100px;
}
.chartinfo{
	width:55%;
    float: right;
    clear: none;
    border-top: none;
    margin-top: 0;
}

}

@media screen and (max-width: 480px) {

.chart .count{
    left: 3px;
    top: 48px;
}

}

/************************************************************************************/

/* NEWS */

/************************************************************************************/
.post-single img{
	max-width:100%;
}
div#newscontact{
	padding: 30px;
}
.news-single h2{
  border-bottom: 2px dashed #2C5871;
  padding: 15px 0;
  font-weight: bold;
}
.news-single h3{
  font-weight: bold;
  line-height: 1.5;
}
.news-single .lead{
  font-weight: bold;
}
.news-single dt,#newsarea dd{
	padding: 5px 0;
}


.news-single strong{
  font-weight: bold;
}
/*
.news-single p{
	font-size: 12px;
    color: #777;
}
*/
/************************************************************************************/

/* Appli */

/************************************************************************************/
.apppage{
	padding:0px 15px 0 15px !important;
}
.apppage .panel-default .panel-heading{
    background-color: #ff8c7c;
    color: #fff;
}
